.central{text-align: center ;}
        .meutitulo{color:red;font-size:65px}
        .paragrafo{color:black;font-size:30px}
        .suica{color:red;}
        .japao{color:palevioletred;}
        .paragrafo2{font-size:20px ;}
        .paragrafo3{font-size: 20px;}
    
        
body{
    background-color:rgb(197, 255, 191)}



